<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="OnlineUsername" value="thomas.carlsson@innofactor.com" />
    <add key="OnlinePassword" value="finesthour42C" />
    
    <!--<add key="OnlineCrmUrlData" value="https://disco.crm4.dynamics.com" />-->
    <add key="OnlineCrmUrlGui" value="https://mms-tst1.crm4.dynamics.com" />
    


    <!--<add key="OnlineUsername" value="CINTUTV\AT_Main" />-->
    <!--<add key="OnlinePassword" value="dsf4dhb38" />-->
    <!--<add key="OnlineCrmUrl" value="https://mms-2016-tst.cintutv.se/Full3" />-->


    <add key="ConnectionString" value="Url=https://mms-tst1.crm4.dynamics.com/;AuthType=Office365;UserName=thomas.carlsson@innofactor.com;Password=finesthour42C" />

    <add key="AzureKey" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup></configuration>
